header {
  height: 50px;
  color: $white-color;
  background: $header-color;

  .logo {
    width: 320px;
    height: 40px;
    margin: 0 auto;
    padding: 5px 0;
  }
}
main {
  background: #f9ffeb;
}

#income-input {
  padding: 10px;

  #input-income { width: 200px; font-size: 240%; font-weight: bold; text-align: right; }
  #input-bonus-mounths { width: 60px; font-size: 150%; text-align: center; }
  #input-bonus-number { width: 40px; font-size: 150%; text-align: center; }
  #input-overwork-hours { width: 80px; font-size: 150%; text-align: center; }
  #select-residence-pref { width: 160px; text-align: center; }

  .line-box {
    padding: 5px;
    border-bottom: 1px dashed $theme-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }

    .line-label {
      color: $theme-color;
      font-weight: bold;
    }

    .line-value {
      text-align: right;
    }
  }
}

.result-box {
  margin: 10px;
  background: $white-color;
  border: 1px solid $theme-color;

  h3 {
    margin: 15px 20px 0px;
    color: $theme-color;
    font-size: 130%;
    font-weight: normal;
  }

  .main-value-line {
    .line-box {
      display: flex;
      justify-content: space-between;

      .line-cell {
        width: 50%;
        padding: 8px;
        border-right: 1px solid $border-base-color;
        border-bottom: 1px solid $border-base-color;

        &:last-child {
          border-right: none;
        }
      }

      .line-label {
        margin: 0 0 3px;
      }

      .line-value {
        color: $theme-color;
        font-size: 100%;
        text-align: right;

        span {
          font-size: 180%;
        }
      }
    }
  }

  .sub-value-line {
    padding: 5px 20px;

    .line-box {
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $border-sub-color;

      &:first-child {
        border-top: none;
      }

      &.sum {
        font-size: 120%;
        border-top: 1px solid $theme-color;
      }

      .line-label {
      }

      .line-value {
        &.plus {
          color: $theme-color;
        }

        &.minus {
          color: $attention-color;

          &:before {
            content: 'ー';
          }
        }
      }
    }
  }

  .btn-detail-toggle {
    padding: 8px 0;
    text-align: center;
  }
}

footer {
  background: $footer-color;
}
