header {
  height: 50px;
  color: $white-color;
  background: $header-color;

  .logo {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: url(../img/logo.svg) center center no-repeat;
  }
}
main {
  padding: 5px 0;
  background: #f9ffeb;
}

#income-input {
  padding: 10px 10px 20px ;
  border-bottom: 1px solid $border-base-color;

  #input-income { width: 200px; font-size: 240%; font-weight: bold; text-align: right; }
  #input-bonus-mounths { width: 60px; font-size: 150%; text-align: center; }
  #input-bonus-number { width: 40px; font-size: 150%; text-align: center; }
  #input-overwork-hours { width: 80px; font-size: 150%; text-align: center; }
  .select-area { width: 160px; text-align: center; }

  .line-box {
    padding: 5px;
    border-bottom: 1px dashed $theme-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }

    .line-label {
      color: $theme-color;
      font-weight: bold;
    }

    .line-value {
      text-align: right;
    }
  }

  #input-attention {
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border: 3px solid $border-base-color;
    border-radius: 5px;

    #input-attention-header {
      margin: 0 0 10px;
      color: $attention-color;
      font-weight: bold;
      text-align: center;
      display: block;
    }

    ul {
      margin: 0 0 0 20px;
      font-size: 80%;
      text-align: justify;
    }

    li {
      margin: 0 0 10px;
      list-style-type: disc;

      &:last-child {
        margin: 0;
      }
    }

    .detail-box {
      display: none;
    }

    .btn-detail-toggle {
      padding: 10px 0 0;
      color: $theme-color;
      text-align: center;
    }
  }
}

.result-box {
  margin: 10px;
  background: $white-color;
  border: 1px solid $theme-color;

  h3 {
    margin: 15px 20px 0;
    color: $theme-color;
    font-size: 130%;
    font-weight: normal;
  }

  p {
    margin: 5px 10px;
  }

  .copy-area {
    padding: 0 10px 5px;

    textarea {
      width: 100%;
      height: 200px;
      margin: 0;
      font-size: 120%;
      resize: vertical;
    }
  }

  .share-area {
    width: 100%;
    padding: 0 10px 5px;
    display: table;
    border-collapse: separate;
    border-spacing: 5px 0;

    .share-button {
      height: 35px;
      display: table-cell;
      border-radius: 5px;

      &#share-twitter {
        background: url(../img/share-tweet.svg) center center no-repeat, #1da1f2;
      }
      &#share-mail {
        background: url(../img/share-mail.svg) center center no-repeat, #ff7d55;
      }
    }
  }

  #retry {
    height: 35px;
    margin: 0 15px 10px;
    background: url(../img/retry.svg) center center no-repeat, #888;
    border-radius: 5px;
  }

  .header {
    margin: 15px 10px;
    color: $theme-color;
    font-size: 180%;
    font-weight: bold;
  }

  .main-value-line {
    .line-box {
      display: flex;
      justify-content: space-between;

      .line-cell {
        width: 50%;
        padding: 8px;
        border-top: 1px solid $border-base-color;
        border-right: 1px solid $border-base-color;
        border-bottom: 1px solid $border-base-color;

        &:last-child {
          border-right: none;
        }
      }

      .line-label {
        margin: 0 0 3px;
      }

      .line-value {
        color: $theme-color;
        font-size: 100%;
        text-align: right;

        span {
          font-size: 180%;
        }
      }
    }
  }

  .detail-box {
    display: none;
  }

  .sub-value-line {
    padding: 5px 20px;

    .line-box {
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $border-sub-color;

      &:first-child {
        border-top: none;
      }

      &.sum {
        font-size: 120%;
        border-top: 1px solid $theme-color;
      }

      .line-label {
      }

      .line-value {
        &.plus {
          color: $theme-color;
        }

        &.minus {
          color: $attention-color;

          &:before {
            content: 'ー';
          }
        }
      }
    }
  }

  .btn-detail-toggle {
    padding: 8px 0;
    color: $theme-color;
    text-align: center;
  }
}

footer {
  padding: 5px;
  color: $white-color;
  font-size: 80%;
  background: $footer-color;
  text-align: center;
}
