/*
 * 全般的なレイアウト
 */
 * {
	margin: 0;
	padding: 0;

	-webkit-appearance: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1.6em;
	font-size: 14px;
    font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: $text-base-color;

	@include mq() {
		font-size: 13px;
		background: $white-color;
    }
}

a {
	color: $text-base-color;
	text-decoration: none;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

.wrapper {
	width: 480px;
	margin: 0 auto;

	@include mq() {
		width: 100%;
    }
}

.wrapper-main {
	padding: 20px $margin-site-side;
	background: $white-color;
	box-shadow: 1px 0px 5px rgba(0,0,0,0.05);

	@include mq() {
		padding: 0;
    }
}

.clearfix {
	&:before, &:after {
		clear: both;
		content: "";
		display: block;
	}
}

#site-main {
	background: #f6fcff;
}

#site-content {
	width: 660px;
	float: left;

	@include mq() {
		width: 100%;
		float: none;
	}
}

table {
  margin: 20px 0;
  border-collapse: collapse;

  tr {
      border-bottom: 1px solid $border-base-color;
      text-align: left;

      th, td {
          padding: 10px 20px;

          &.center {
              text-align: center;
          }

          &.right {
              text-align: right;
          }
      }
  }

  thead {
      tr {
          font-weight: bold;
          border-top: 3px solid $main-color;
          background-color: $white-color;

          th, td {
              padding-top: 5px;
              padding-bottom: 5px;
          }
      }
  }

  tbody {
      tr {
          &:nth-child(2n+1) {
              background-color: $white-color;
          }

          &:nth-child(2n) {
              background-color: #f3f3f3;
          }

          &:hover {
              background-color: #ffd;
          }
      }
  }
}
